{% extends "services/base.html" %}
{% block content %}
    {% if heading %}
        <h2>{{ heading }}</h2>
    {% endif %}
    {% include "services/components/serviceList.html" with services=services %}
    <h3>Add new responses</h3>
    <form method="post" action="/services/responses/add">
        {% csrf_token %}
        <fieldset>
            <p>
                <label for="composerName">Composer:</label>
                <input id="composerName" type="text" name="composerName"/>
            </p>
            <p>
                <label for="title">Title:</label>
                <input id="title" type="text" name="title"/>
            </p>
            <p>
                <label for="knownAs">Known as:</label>
                <input id="knownAs" type="text" name="knownAs"/>
            </p>
            <input type="submit" value="Add">
        </fieldset>
    </form>
    {% endblock %}
